<ng-container *ngIf="(homeState$ | async) as state">
    <ng-container>
        <app-navbar [user]="state?.appData?.data?.user"></app-navbar>
        <app-stats [stats]="state?.appData?.data?.stats"></app-stats>
        <section>
            <div class="container">
                <div class="row mt-3">
                    <div *ngIf="(fileStatus$ | async) as status" class="progress">
                        {{ fileStatus$ | async | json }}
                        <div [style.width.%]="status.percent" class="progress-bar bg-success" role="progressbar" [aria-valuenow]="status.percent" aria-valuemin="0" aria-valuemax="100">
                            {{ status.type }} {{ status.percent }} %
                        </div>
                    </div>
                    <div class="col">
                        <h4 class="fw-bold text-start">Biodata</h4>
                    </div>
                    <div class="col">
                        <h4 (click)="report()" class="fw-bold text-end"><i style="cursor: pointer;color: green;font-size: 30px;" class="bi bi-download"></i></h4>
                    </div>
                    <div class="col-xm-12">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th class="text-center" scope="col">ID</th>
                                <th scope="col">Nama</th>
                                <th scope="col">Tempat Lahir</th>
                                <th scope="col">Tanggal Lahir</th>
                                <th scope="col">Jenis kelamin</th>
                                <th scope="col">Agama</th>
                                <th scope="col">Alamat</th>
                                <th scope="col">Email</th>
                                <th scope="col">Hobi</th>
                                <th scope="col">Anak Ke</th>
                                <th scope="col">Jumlah Anak</th>
                                <th scope="col">Status Kawin</th>
                                <th scope="col">Status Verifikasi</th>
                                <th scope="col">Created at</th>
                                <th scope="col">Action</th>
                            </tr>
                            </thead>
                            <tbody class="table-body">
                            <tr *ngFor="let biodata of state?.appData?.data?.page.content" class="cell-1">
                                <th class="text-center">{{ biodata.id }}</th>
                                <td>{{ biodata.nama }}</td>
                                <td>{{ biodata.tempatLahir }}</td>
                                <td>{{ biodata.tanggalLahir }}</td>
                                <td>{{ biodata.jk }}</td>
                                <td>{{ biodata.agama }}</td>
                                <td>{{ biodata.alamat }}</td>
                                <td>{{ biodata.email }}</td>
                                <td>{{ biodata.hobi }}</td>
                                <td>{{ biodata.anakKe }}</td>
                                <td>{{ biodata.jmlSaudara }}</td>
                                <td>{{ biodata.statusKawin }}</td>
                                <td>{{ biodata.statusVerifikasi }}</td>
                                <td>{{ biodata.createdAt }}</td>
                            </tr>
                            </tbody>
                        </table>

                        <nav *ngIf="state?.appData?.data?.page.content.length > 0" aria-label="Page navigation example">
                            <ul class="pagination justify-content-end">
                                <li [ngClass]="0 == (currentPage$ | async) ? ' disabled' : ''" class="page-item pointer">
                                    <a (click)="goToNextOrPreviousPage('backward')" class="page-link">&laquo; Prev</a>
                                </li>
                                <li *ngFor="let pageNumber of [].constructor(state?.appData?.data?.page.totalPages); let i = index;" class="page-item pointer">
                                    <a (click)="goToPage(i)" [ngClass]="i == (currentPage$ | async) ? ' active' : ''" class="page-link">
                                        {{ i + 1 }}
                                    </a>
                                </li>
                                <li [ngClass]="(state?.appData?.data?.page.totalPages - 1) == (currentPage$ | async) ? ' disabled' : ''" class="page-item pointer">
                                    <a (click)="goToNextOrPreviousPage('forward')" class="page-link">Next &raquo;</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </section>
    </ng-container>
</ng-container>
