<ng-container *ngIf="(newCardState$ | async) as state" [ngSwitch]="state.dataState">
    <ng-container *ngSwitchCase="DataState.LOADED">
        <app-navbar [user]="state?.appData?.data?.user"></app-navbar>
        <section>
            <div class="container">
                <nav aria-label="breadcrumb" style="margin-top: 8px;">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a [routerLink]="['/']">Home</a>
                        </li>
                        <li class="breadcrumb-item"> <a [routerLink]="['/cards']">Kartu</a> </li>
                        <li class="breadcrumb-item active" aria-current="page">Baru</li>
                    </ol>
                </nav>
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="text-center">
                                    <h2><i style="margin-right: 5px;" class="bi bi-receipt"></i> Kartu Baru
                                    </h2>
                                </div>
                                <div *ngIf="state.error"
                                     class="alert alert-danger bg-danger text-light border-0 alert-dismissible fade show"
                                     role="alert">
                                    {{ state.error }}
                                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert"
                                            aria-label="Close"></button>
                                </div>
                                <div *ngIf="state.appData.message"
                                     class="alert alert-success bg-success text-light border-0 alert-dismissible fade show"
                                     role="alert">
                                    {{ state.appData.message }}
                                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert"
                                            aria-label="Close"></button>
                                </div>

                                <form #newcardForm="ngForm" (ngSubmit)="newCard(cardForm)">
                                    <div class="row">

                                        <div class="col-md-6" style="margin-bottom: 15px;">
                                            <label>Biodata</label>
                                            <select [ngModel]="" name="biodataId" class="form-control select-cl" required>
                                                <option *ngFor="let biodatas of state?.appData?.data?.biodatas"
                                                        [ngValue]="biodatas.id"
                                                        [selected]=""
                                                        [disabled]=""
                                                        class="select-cl">{{ biodatas.nama }}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-md-6" style="margin-bottom: 15px;">
                                            <div class="form-group">
                                                <label>Username</label>
                                                <input type="text" ngModel name="username" class="form-control" required>
                                            </div>
                                        </div>
                                        <div class="col-md-6" style="margin-bottom: 15px;">
                                            <div class="form-group">
                                                <label>Password</label>
                                                <input type="text" ngModel name="password" class="form-control" required>
                                            </div>
                                        </div>
                                        <div class="col-md-6" style="margin-bottom: 15px;">
                                            <div class="form-group">
                                                <label>Tanggal</label>
                                                <input type="date" ngModel name="tanggal" class="form-control" required>
                                            </div>
                                        </div>
                                        <div class="col-md-6" style="margin-bottom: 15px;">
                                            <div class="form-group">
                                                <label>Waktu</label>
                                                <input type="time" ngModel name="waktu" class="form-control" required>
                                            </div>
                                        </div>
                                        <div class="col-md-6" style="margin-bottom: 15px;">
                                            <div class="form-group">
                                                <label>Ruang</label>
                                                <input type="text" ngModel name="ruang" class="form-control" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <button [disabled]="state.dataState === DataState.LOADING || newcardForm.invalid || newcardForm.pristine|| (isLaoding$ | async)"
                                                type="submit" class="btn btn-primary mt-5">
                                            <span *ngIf="isLaoding$ | async" class="spinner-border spinner-border-sm"
                                                  role="status" aria-hidden="true" style="margin-right: 5px;"></span>
                                            <span *ngIf="isLaoding$ | async">Saving...</span>
                                            <span *ngIf="!(isLaoding$ | async)">Save Card</span>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </ng-container>
</ng-container>
